.divider,
.content {
  max-width: 100%;
  margin-top: 32px;
  margin-left: 20px;
  margin-right: 20px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    margin-top: 40px;
    margin-left: 32px;
    margin-right: 32px;
  }

  @media (min-width: 1280px) {
    width: 100%;
    max-width: 1120px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }
}

.divider {
  height: 2px;
  background-color: rgba(#000, 0.85);
}

ul {
  display: block;
  margin: 36px 0 0;
  padding: 0;

  li {
    position: relative;
    display: block;
    margin: 16px 0 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    list-style: none;

    &:first-of-type {
      margin-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      top: 9px;
      left: 4px;
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: rgba(#000, 0.85);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-md-9 {
  flex: 0 0 100%;
  @media (min-width: 768px) {
    flex: 0 0 calc(75% - 12px);
  }
}
.col-md-6 {
  flex: 0 0 100%;
  @media (min-width: 768px) {
    flex: 0 0 calc(50% - 12px);
  }
}
.col-md-3 {
  flex: 0 0 100%;
  @media (min-width: 768px) {
    flex: 0 0 calc(25% - 12px);
  }
}
