@font-face {
  font-display: swap;
  font-family: 'eUkraine';
  src: local('e-Ukraine-Light'),
  url('/public/fonts/e-Ukraine-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'eUkraine';
  src: local('e-Ukraine-Regular'),
  url('/public/fonts/e-Ukraine-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'eUkraine';
  src: local('e-Ukraine-Medium'),
  url('/public/fonts/e-Ukraine-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'eUkraine',-apple-system,BlinkMacSystemFont,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: 'eUkraine',-apple-system,BlinkMacSystemFont,Arial,sans-serif;
  font-weight: 400;
}

h1 {
  display: block;
  line-height: 40px;
  font-size: 26px;

  @media (min-width: 768px) {
    line-height: 56px;
    font-size: 36px;
  }

  @media (min-width: 1280px) {
    line-height: 72px;
    font-size: 48px;
  }
}

h2 {
  line-height: 36px;
  font-size: 24px;

  @media (min-width: 768px) {
    line-height: 40px;
    font-size: 28px;
  }

  @media (min-width: 1280px) {
    line-height: 44px;
    font-size: 36px;
  }
}

h3 {
  line-height: 28px;
  font-size: 18px;

  @media (min-width: 768px) {
    line-height: 28px;
    font-size: 20px;
  }

  @media (min-width: 1280px) {
    line-height: 32px;
    font-size: 28px;
  }
}

h4 {
  line-height: 24px;
  font-size: 16px;

  @media (min-width: 768px) {
    line-height: 24px;
    font-size: 18px;
  }

  @media (min-width: 1280px) {
    line-height: 28px;
    font-size: 24px;
  }
}

h5 {
  line-height: 22px;
  font-size: 16px;

  @media (min-width: 768px) {
    line-height: 24px;
    font-size: 18px;
  }

  @media (min-width: 1280px) {
    line-height: 24px;
    font-size: 20px;
  }
}

b {
  font-weight: 400;
}

a {
  transition: color .3s ease-out;
}
