.p404 {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 90px - 620px);
  background-color: #000;

  @media (min-width: 438px) {
    min-height: calc(100vh - 90px - 552px);
  }
  @media (min-width: 575px) {
    min-height: calc(100vh - 90px - 524px);
  }
  @media (min-width: 768px) {
    justify-content: center;
    min-height: calc(100vh - 90px - 428px);
  }
  @media (min-width: 992px) {
    min-height: calc(100vh - 90px - 377px);
  }
  @media (min-width: 1050px) {
    min-height: calc(100vh - 90px - 353px);
  }
  @media (min-width: 1280px) {
    min-height: calc(100vh - 90px - 394px);
  }

  &__content {
    padding-top: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
  }
  &__title {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    color: #FFF;
    line-height: 100px;
    font-size: 96px;
    font-weight: 400;

    @media (min-width: 768px) {
      text-align: center;
      line-height: 160px;
      font-size: 152px;
    }
  }

  &__subtitle {
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    line-height: 20px;
    font-size: 16px;
    color: rgba(#FFF, 0.65);

    @media (min-width: 768px) {
      text-align: center;
      line-height: 24px;
      font-size: 20px;
    }

    a {
      display: inline-block;
      padding-top: 12px;
      white-space: nowrap;
      text-decoration: none;
      color: #FFF;
      border-bottom: 1px solid currentColor;

      @media (min-width: 768px) {
        padding-top: 20px;
      }

      &:hover {
        color: #e6ff03;
      }
    }
  }
}
