.fieldset {
  margin-top: 32px;

  input[type=text],
  input[type=tel],
  input[type=email],
  input[type=date],
  input[type=time] {
    height: 48px;
    padding-right: 28px;
    box-sizing: border-box;
    line-height: 40px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #c2c5c7;
    outline: none;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: calc(100% - 8px) 50%;

    @media (min-width: 768px) {
      height: 56px;
      font-size: 16px;
    }

    &:focus {
      //border-color: #19BE6F;
      box-shadow: 0 10px 20px -8px rgba(#000, 0.15);
    }
  }
  input[type=time] {
    display: flex;
    align-items: center;
  }
  textarea {
    padding: 8px 12px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #c2c5c7;
    background-repeat: no-repeat;
    background-size: 16px auto;
    background-position: calc(100% - 8px) 8px;
    outline: none;

    @media (min-width: 768px) {
      font-size: 16px;
    }

    &:focus {
      //border-color: #19BE6F;
      box-shadow: 0 10px 20px -8px rgba(#000, 0.15);
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: 8px 12px;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: #676767;
}

.form-select {
  height: 48px;
  font-weight: 300;
  font-size: 14px;

  @media (min-width: 768px) {
    height: 56px;
    font-size: 16px;
  }
}

.form-text {
  display: block;
  margin-top: 16px;
  font-size: 12px;
  color: #929292;

  @media (min-width: 768px) {
    margin-top: 8px;
  }
}

.input-group.place {
  display: block;

  @media (max-width: 540px) {
    .form-control {
      width: 100%;
      border-top-right-radius: 4px!important;
      border-bottom-right-radius: 4px!important;
    }
    .btn {
      width: 100%;
      margin-top: 8px;
    }
  }
  @media (min-width: 768px) {
    display: flex;
  }
}

.invalid-feedback {
  display: none;
  padding-top: 8px;
  line-height: 20px;
  font-size: 12px;
  color: #FA594F;
}

.form-check {
  margin-top: 20px;

  label {
    display: flex;
    align-items: center;
    min-height: 24px;
    overflow: hidden;
    cursor: pointer;

    input {
      position: absolute;
      top: -200px;
      left: -200px;
      display: block;
      width: 0;
      height: 0;
      opacity: 0;
      pointer-events: none;
    }

    small {
      position: relative;
      overflow: hidden;
      flex: 0 0 24px;
      display: block;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      box-sizing: border-box;
      border: 2px solid #000;
      transition: border-color .2s ease-out;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
        transform-origin: 50% 100%;
        transition: opacity .3s ease-out, transform .3s ease-out;
      }
    }

    input[type=checkbox] + small {
      &:before {
        width: 16px;
        height: 16px;
        margin: -8px 0 0 -8px;
        background-size: 14px auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA1TDYgMTAuNUwxNSAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=);
      }
    }
    input[type=radio] + small {
      border-radius: 50%;

      &:before {
        width: 12px;
        height: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 50%;
        background-color: #000;
      }
    }

    &:hover small {
      border-color: #19BE6F;
    }

    input:checked + small {
      border-color: #000;

      &:before {
        opacity: 1;
        transform: scale3d(1, 1, 1);
      }
    }
  }
}


.form-control.is-valid,
.was-validated .form-control:valid {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA1TDYgMTAuNUwxNSAxIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==);
  //background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMSA1TDYgMTAuNUwxNSAxIiBzdHJva2U9IiMxOUJFNkYiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==); green icon
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #FA594F;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDE2IDE2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNiAxNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+LnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGQTU5NEY7fTwvc3R5bGU+PGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iOCIgY3k9IjgiIHI9IjcuNSIvPjxjaXJjbGUgY3g9IjgiIGN5PSIxMS41IiByPSIxLjUiIGZpbGw9IiNGQTU5NEYiLz48cG9seWdvbiBwb2ludHM9IjguOCw5IDcuMiw5IDYuOCwzIDkuMiwzICIgZmlsbD0iI0ZBNTk0RiIvPjwvc3ZnPg==);
}

.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip,
.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip {
  display: block;
}
